.food-continer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 30px;
    margin-left: 40px;
    font-size: x-large;
    color: black;
    font-weight: bold;
}

@media (max-width:750px){
    .food-continer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:450px){
    .food-continer{
        grid-template-columns: repeat(1, 1fr);
    }
}
.full-view{
    width: 70%;
    height: 800px;
    margin: 0 auto;
    font-weight: bold;
    font-size: x-large;
}
.food-title{
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: xx-large;
}